*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;  
}
body{
    font-family: sans-serif;
    
}
header{
    background-color: #ffffff;
}
.box{
    position: relative;
    display: flex;
    width: 1220px;
    margin: 0 15% 0 15%;
    height: 80px;
}
.logo{
    margin-left: 65px;
    margin-top: 18px;
    transition: 500ms;
    
}
.logo:hover{
    transform: scale(1.1);
}
.nav-list{
    position: absolute;    
}
.item-list{
    display: inline-block;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: 25px;    
}
.nav-list2{
    position: absolute;
    list-style: none;
    margin-left: 730px;
}
.item-list2{
    display: inline-block;
    margin-top: 30px;
    padding-left: 15px;
}
.item{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.item:hover{
    color: green;
    border-bottom: 4px solid lightgreen;
    padding-bottom: 25px;
}
.item2{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
.item2:hover{
    color: green;
}
.button{
    color: green;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 1110px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px 35px;
    text-decoration: none;
}
.button:hover{
    color: greenyellow;
    border-color: greenyellow;
}
/* Planos */
.box1{
    width: 950px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.main-title{
    text-align: center;
    font-size: 60px;
    margin-top:90px;
}
.box2{
    display: flex;
    position: relative;
    width: 1300px;
    margin: 0 15% 0 15%;
    padding: 100px 0;
    text-align: center;
}
.basic-plan{
    text-align: center;
    margin-left: 40px;
    width: 30%;
}
.business-plan{
    text-align: center;
    width: 30%;
    margin: 0 3.3% 0 3.3%;
}
.premium-plan{
    text-align: center;
    width: 30%;
    margin: 0 3.3% 0 3.3%;
}
.plans-logo{
    margin-left: 80px;
    width: 154px;
    height: 257px;
    padding-bottom: 50px;
}
.plan-list{
    display:block;
}
.item-plan{
    margin-left: 125px;
}
.plan-text{
    padding-bottom: 20px;
    text-align: left;
    font-size: 23px;
    font-weight: bold
}
.plan-text2{
    padding-bottom: 40px;
    text-align: left;
    font-size: 23px;
    font-weight: bold
}
.plan-text3{
    padding-top: 50px;
    text-align: left;
    font-size: 13px;
    border-bottom:2px solid green;
    width: 220px;
    text-decoration: none;
    color: #000000;
}
.plan-text3:hover{
    color: green;
}
.plan-text4{
    text-align: left;
    font-size: 13px;
    padding: 10px 0;
}
.links{
    text-align: left;
    padding-top: 47px;
}
.plan-text-business{
    padding-bottom: 45px;
    text-align: left;
    font-size: 20px;
    font-weight: bold
}
.button2{
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 5px;
    padding: 13px 80px;
    text-decoration: none;
    color: green;
    transition: 500ms;
}
.button3{
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 5px;
    padding: 13px 45px;
    text-decoration: none;
    color: #ffffff;   
    background-color: green;
    font-weight: bold;
    transition: 500ms;
}
.button4{
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 5px;
    padding: 13px 50px;
    text-decoration: none;
    color: green;
    transition: 500ms;   
}
.button2:hover{
    color: #ffffff;
    background-color: green;
    
}
.button4:hover{
    color: #ffffff;
    background-color: green;
}
.button3:hover{
    background-color: lightgreen;
    border-color: lightgreen;
}
/* informacoes adicionais */
.box3{
    position: relative;
    width: 1300px;
    margin: 0 15% 0 15%;
    padding-bottom: 100px;
}
.linhadeseparacao{
    padding-bottom: 5%;
}
.main-title2{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3%;
}
.info-text{
    display: block;
    text-align: center;
    font-size: 16px;
    max-width: 500px;
    margin-left: 30%;
    line-height: 24px;
}
.box4{
    align-content: center;
    width: 950px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 100px;
}
.community-leaders{
    width: 45%;
    margin-right: 5%;
}
.community-consultans{
    width: 45%;
    margin-left: 5%;
}
.community-logo1{
    float: left;
    width: 169px;
    height: 209px;
}
.community-logo2{
    float: left;
    width: 169px;
    height: 209px;
}
.main-title3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1em;
}
.community-text{
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 2em;
}
.community-link{
    font-size: 13px;
    border-bottom: 2px solid green;
    color: #000000;
}
.community-link:hover{
    color: green;
}

.text-box{
    width: 950px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.info-text2{
    font-size: 13px;
    opacity: 0.5;
}
.footerH{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 5px solid #000000;
}
.footerList{
    padding-top: 50px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.prod-list{
    display: flex;
    flex-direction: column;
    width: 190px;
}
.recu-list{
    display: flex;
    flex-direction: column;
    width: 190px;
}
.comu-list{
    display: flex;
    flex-direction: column;
    width: 190px;
}
.sup-list{
    display: flex;
    flex-direction: column;
    width: 190px;
}
.empre-list{
    display: flex;
    flex-direction: column;
    width: 190px;
}
.footer-tittle{
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.footer-info{
    padding-bottom: 25px;
    font-size: 14px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.fim{
    padding-top: 100px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(136,139,141,0.5);
    padding-bottom: 35px;
}
.fim p{
    font-size: 12px;
}
.icons{
    width: 312px;
}
.icon{
    padding-right: 15px;
}
.fim2{
    padding-top: 35px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.fim2-list{
    display: flex;
    padding-bottom: 50px;
}
.copyright{
    font-size: 12px;
    opacity: 0.5;
}
.copyright-item{
    font-size: 12px;
    padding-right: 15px;
}