*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    background-color:#ffffff;
    color: #ffffff;
    font-family: sans-serif;
}
.header{
    display: flex;
    position: relative;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-color: #202020;
}
.logo{
    margin-top: 15px;
    margin-left: 20px;
}
.navigation{
    position: absolute;
    display: inline;
    margin-top: 10px;
    margin-left: 40%;
}
.list{
    display: flex;
    list-style: none;
}
.item{
    margin:15px 20px;
}
.link{
    text-transform: uppercase;
    font-size:15px;
    text-decoration: none;
    color: #ffffff;
}
.right{
    display: inline-flex;
    position: absolute;
    margin-top: 30px;    
    margin-left: 85%;
    text-transform: uppercase;
    font-weight: bold;
}
.button{
    position: absolute;
    margin-top: 8px;
    margin-left:89%;
    font-size: 18px;
    padding: 20px 25px;
    cursor: pointer;
    font-weight: bold;
}
.ItemText1{
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 100px;
    margin-left: 40px;
    max-width: 440px;
}
.ItemText2{
    margin-top: 120px;
    font-weight: bold;
    text-align:left;
    max-width: 445px;
    margin-left: 40%;
}